<ng-container *ngIf="isLoading">
  <div class="spinner">
    <div class="spinner-items">
      <mat-spinner></mat-spinner>
      <p>Loading Cards</p>
      <p>(this might take a while)</p>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!isLoading">
  <div class="container">
    <div class="filter">
      <div class="search">
<!--        <mat-form-field class="search-type">-->
<!--          <mat-label>Search Type</mat-label>-->
<!--          <mat-select [(value)]="selectedSearchOption" (selectionChange)="updateSearchType($event)">-->
<!--            <mat-option [value]="'Name'">Name</mat-option>-->
<!--            <mat-option [value]="'Effect'">Effect</mat-option>-->
<!--            <mat-option [value]="'Type'">Type</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
        <app-autocomplete-search class="app-autocomplete-search" [cardOptions]="dataArr"></app-autocomplete-search>
<!--        <button mat-button (click)="openAdvancedSearch($event)">Advanced Search-->
<!--          <mat-icon *ngIf="!advancedSearchOpen" fontIcon="arrow_drop_down" aria-hidden="false" aria-label="arrow drop down icon" iconPositionEnd></mat-icon>-->
<!--          <mat-icon *ngIf="advancedSearchOpen" fontIcon="arrow_drop_up" aria-hidden="false" aria-label="arrow drop up icon" iconPositionEnd></mat-icon>-->
<!--        </button>-->
      </div>
      <div class="slide-toggles">
<!--        <p><mat-slide-toggle (change)="changeSearchSelection($event)">Name</mat-slide-toggle></p>-->
<!--        <p><mat-slide-toggle>Type</mat-slide-toggle></p>-->
<!--        <p><mat-slide-toggle>Effect</mat-slide-toggle></p>-->
        <p *ngFor="let slideToggle of slideToggles"><mat-slide-toggle [(ngModel)]="slideToggle.checked" (change)="updateSearchSelection($event)">{{ slideToggle.name }}</mat-slide-toggle></p>
      </div>
    </div>
    <ng-container *ngIf="advancedSearchOpen">
      <app-advanced-search></app-advanced-search>
    </ng-container>
    <div class="card-container">
      <mat-card class="card" *ngFor="let card of obs | async">
        <a target="_blank" [href]="card.scryfall_uri"><img mat-card-image [src]="getCardImage(card)" [alt]="card.name"></a>
      </mat-card>
    </div>
  </div>
</ng-container>
<mat-paginator [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200]"></mat-paginator>
