.example-card {
  max-width: 300px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

img {
  height: fit-content; //so that it takes up full space
  max-height: 600px !important; // this prevents the image from being extremely big
  object-fit: scale-down;
  object-position: center; /* this centers and crops the image so that it doesn't break the aspect ratio */
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 1rem;
}
