<div class="advanced-search-container">
  <div>
    <h4>card types</h4>
    <ul>
      <li><mat-checkbox class="example-margin">Land</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Creature</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Enchantment</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Artifact</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Planeswalker</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Sorcery</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Battle</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Tribal</mat-checkbox></li>
    </ul>
  </div>
  <div>
    <h4>colors</h4>
    <ul>
      <li><mat-checkbox class="example-margin">White</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Blue</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Black</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Red</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Green</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Colorless</mat-checkbox></li>
    </ul>
    <h4>color identity</h4>
    <ul>
      <li><mat-checkbox class="example-margin">White</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Blue</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Black</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Red</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Green</mat-checkbox></li>
      <li><mat-checkbox class="example-margin">Colorless</mat-checkbox></li>
    </ul>
  </div>
  <div>
    <h4>Mana Cost</h4>
  </div>
</div>
